.nothing-to-show {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.nothing-to-show__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}