.about-project {
  margin: 110px 70px;
}

.about-project__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  height: 50px;
  border-bottom: 1px solid #000;
}

.about-project__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  gap: 50px;
}

.about-project__info-column {
  display: block;
  flex-direction: column;
  margin-bottom: 110px;
}

.about-project__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin-bottom: 26px;
}

.about-project__text { 
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__time {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 36px 1fr;
  grid-template-areas:
  "one-week four-week four-week four-week four-week"
  "back-end front-end front-end front-end front-end";
}

.about-project__weeks {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__part {
  margin: 0;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color:#A0A0A0;
  text-align: center;
}

.one-week {
  background-color: #000;
  color: #FFF;
  grid-area: one-week;
}

.four-week {
  background-color: #F2F2F2;
  color: #000;
  grid-area: four-week;
}

.back-end {
  grid-area: back-end;
}

.front-end {
  grid-area: front-end;
}

@media screen and (max-width: 980px){
  .about-project {
    margin: 90px 50px;
  }

  .about-project__info {
    gap: 30px;
  }

  .about-project__subtitle {
    margin-bottom: 22px;
  }

  .about-project__text { 
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .about-project__info-column {
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 680px){
  .about-project {
    margin: 70px 18px 140px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    gap: 56px;
    margin-bottom: 60px;
  }

  .about-project__info-column {
    margin: 0;
  }

  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__text { 
    margin: 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__time {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 35px 1fr;
    grid-template-areas:
    "one-week one-week four-week four-week four-week four-week"
    "back-end back-end front-end front-end front-end front-end";
  }
  
  .about-project__weeks {
    font-size: 11px;
    line-height: 13px;
  }
  
  .about-project__part {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 10px;
  }
}