.footer {
  margin: 80px 70px 0;
}

.footer__title {
  margin: 0;
  color: #A0A0A0;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.footer__bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  transition: opacity .2s linear;
}
.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 980px){
  .footer {
    margin: 80px 30px 0;
  }
}

@media screen and (max-width: 540px){
  .footer {
    margin: 130px 10px 0;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .footer__year {
    color: #A0A0A0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links {
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

}